.bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

  .active>a {
    color: #1abc9c !important;;
  }

  .col-md-3 {
    background-color: white;
    max-width: 24%;
    margin: 3px 5px 1em;
    padding: 1em 2em;
    border-radius: 0.2em;
    border: 1px solid #d5d5d5;
  }
img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

        #userPhoto{
            width: 15%;
            height: 15%;
            border-radius: 50%;
        }
        .info{
            display: inline-grid;
            justify-content: center;

        }
        .goback{
            display: flex;
    justify-content: center;
        }

    
